<div>
    <div>
        <h5>{{ titulo }}</h5>
        <form [formGroup]="form" (ngSubmit)="guardarTarjeta()">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Titular</mat-label>
                    <input matInput type="text" formControlName="titular" pattern="^[a-zA-ZñÑ\s]+$" autocomplete="off"
                        placeholder="Titular" uppercase>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Numero de Tarjeta</mat-label>
                    <input matInput type="text" formControlName="numeroTarjeta" pattern="^[0-9]+" maxlength="12" placeholder="Numero Tarjeta" autocomplete="off">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Date</mat-label>
                    <input matInput type="text" formControlName="fechaExpiracion" pattern="^[0-9-/]+" maxlength="5" placeholder="MM/YY" autocomplete="off">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="cvv" maxlength="3"
                        placeholder="CVV" autocomplete="off">
                </mat-form-field>
            </div>
            <div>
                <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">{{ boton }}</button>
            </div>
        </form>
    </div>
</div>
