<div class="container">
    <div>
        <h1>Tarjetas de Crédito</h1>
    </div>
    <div class="contenido">
        <app-crear-tarjeta></app-crear-tarjeta>
        <app-listar-tarjeta></app-listar-tarjeta>
    </div>
</div>
