.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.contenido
{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

app-crear-tarjeta, app-listar-tarjeta
{
    height: 100%;
    margin-top: 140px;
    align-items: flex-start;
}