<div>
    <div>
        <h5>Lista de Tarjetas</h5>
        <table>
            <thead>
                <tr>
                    <th>Titular</th>
                    <th>Numero de Tarjeta</th>
                    <th>Fecha de Expiracion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tarjeta of listTarjetas">
                    <td>{{ tarjeta.titular | uppercase }}</td>
                    <td>{{ tarjeta.numeroTarjeta }}</td>
                    <td>{{ tarjeta.fechaExpiracion }}</td>
                    <td>
                        <button (click)="editarTarjeta(tarjeta)">Modificar</button>
                        <button (click)="eliminarTarjeta(tarjeta.id)">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
